<style>

<!-- sans serif -->
td {
  text-align: center;
  font-family:arial;
}

table {
  border-spacing: 50px;
  font-family:arial;
}
div {
  text-align: center;
  font-family:arial;
}

.column-pic {
  float: left;
  width: 25%;
  padding: 5px;
}

.column-text{
  float: left;
  width: 25%;
  padding: 5px;
  font-family:arial;
  font-size:xx-large;
}

.column {
  float: left;
  width: 25%;
  padding: 5px;
  font-family:arial;
}
.row::after {
  content: "";
  clear: both;
  display: table;
  font-family:arial;
}
@media only screen and (max-width:480px){
 body{
   zoom:40%;
   .pull-right{float:none!important}
 }
 .space{
  height:25px;
 }
 .row2{
  margin-left:auto;
  margin-right:auto;
 }
 .column-text{
  float: left;
  width: 25%;
  padding: 2px;
  font-family:arial;
 font-size:small;
 }

}

</style>


<% content_for :content do %>

       <div>
         <%= form_with url: '/search', method: :get do |form| %>
                <%= form.search_field :search, placeholder:"Search...", style:"width:300px;"%>

        <% end %>
        </div>
        <div class="row">
                <div class="column-pic">
                        <a href='/newarrivals'><img src="http://placehold.it/350x150" /></a>
                </div>
                <div class="column-pic">
                        <a href='/landing_screen_fruit'><img src="http://placehold.it/350x150" /></a>
                </div>
                <div class="column-pic">
                        <a href='/landing_screen_vegetable'><img src="http://placehold.it/350x150" /></a>
                </div>
                <div class="column-pic">
                        <a href='/landing_screen_other'><img src="http://placehold.it/350x150" /></a>
                </div>
        </div>

        <div class="row">
                <div class="column-text">
                        New Arrivals
                </div>
                <div class="column-text">
                        Fruits
                </div>
                <div class="column-text">
                        Vegetables
                </div>
             <div class="column-text">
                        Other Items
                </div>
        </div>
<div class="non-display">
</div>
<div>
<%= button_to "Back", '/landing_screen ', params:{sort:session[:current_sort]}, method: :get, class:"btn-primary"%>
</div>

<% end %>
