<% content_for :content do %>

<image src="<%=(url_for(@image.explanation))%>">
<br><br>

<div align=center>
<%= button_to "Back", '/past_orders_aggregate', method: :get, class:"btn-primary"%>
</div>
<% end %>
